Magic 271485
Revision Verdi_O-2018.09

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 1536 45 1344 777 196 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/DICS_LAB/M10912039/CIC/CIC_2010_grad/sim/SI.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 2571126.927640
cursor 13100000.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 25

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname S1.cs
nalias INIT		4'b0000		NULL
nalias WAIT_WR		4'b0100		NULL
nalias READ		4'b0001		NULL
nalias FINISH		4'b1000		NULL
nalias TRANS		4'b0010		NULL
nalias TRANS_D		4'b0011		NULL
nalias RECV		4'b0110		NULL

addGroup "G1"
activeDirFile "" "/home/DICS_LAB/M10912039/CIC/CIC_2010_grad/sim/SI.fsdb"
addSignal -h 15 /testfixture/s1/clk
addSignal -h 15 -holdScope rst
addSignal -h 15 -holdScope updown
aliasname S1.cs
addSignal -h 15 -UNSIGNED -HEX -holdScope cs[3:0]
aliasname S1.cs
addSignal -h 15 -UNSIGNED -HEX -holdScope ns[3:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope RB1_A[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope RB1_Q[7:0]
addGroup "G2"
addSignal -h 15 -UNSIGNED -UDEC /testfixture/s1/trans_counter[4:0]
addSignal -h 15 -holdScope sen
addSignal -h 15 -holdScope sd
addSignal -h 15 -holdScope pak_addr[3:0]
addSignal -expanded -h 15 /testfixture/s2/RB2_buffer[7:0]
addSignal -h 15 -holdScope RB2_buffer[7][17:0]
addSignal -h 15 -holdScope RB2_buffer[6][17:0]
addSignal -h 15 -holdScope RB2_buffer[5][17:0]
addSignal -h 15 -holdScope RB2_buffer[4][17:0]
addSignal -h 15 -holdScope RB2_buffer[3][17:0]
addSignal -h 15 -holdScope RB2_buffer[2][17:0]
addSignal -h 15 -holdScope RB2_buffer[1][17:0]
addSignal -h 15 -holdScope RB2_buffer[0][17:0]
addSignal -h 15 -holdScope sen
addSignal -h 15 -UNSIGNED -BIN -holdScope package_recv[20:0]
addSignal -h 15 -holdScope cs[3:0]
addSignal -h 15 -holdScope RB2_A[2:0]
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/DICS_LAB/M10912039/CIC/CIC_2010_grad/sim/SI.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/testfixture"
"/testfixture/s1"
"/testfixture/s2"

SCOPE_LIST_BEGIN
"/testfixture"
"/testfixture/m1"
"/testfixture/m2"
"/testfixture/s1"
"/testfixture/s2"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


